In [1]:
# Import the dependencies.
from pathlib import Path
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Create Engine for census data
census_database_path = Path("..//characters.sqlite")
engine = create_engine(f"sqlite:///{census_database_path}")
conn = engine.connect()

In [6]:
# Query All Records in the the Census Table
#census_data = pd.read_sql("SELECT * FROM characters", conn)

In [4]:
# Create Engine for zip data
zip_database_path = Path("../Resources/zip_census.sqlite")
engine = create_engine(f"sqlite:///{zip_database_path}")
conn = engine.connect()

In [5]:
# Query All Records in the Zip Table
zip_data = pd.read_sql("SELECT * FROM Zip_Census", conn)

In [7]:
# Display the Census DataFrame. 
census_data.head()

NameError: name 'census_data' is not defined

In [8]:
# Display the zip DataFrame. 
zip_data.head()

NameError: name 'zip_data' is not defined

In [8]:
# Merge the DataFames on the "CityState" column. 
combined_data = pd.merge(census_data, zip_data, on="CityState", how="inner")

# Display the merged DataFrame.
combined_data.head()

,CityState,city_x,state_x,Population_x,White Population_x,Black Population_x,Native American Population_x,Asian Population_x,Hispanic Population_x,Education None_x,...,Employment Unemployed_y,Median Gross Rent_y,Median Home Value_y,Employment Male Computer Engineering_y,Employment Female Computer Engineering_y,zipcode,lat_y,lng_y,city_y,state_y
0,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,192,793,103100,21,17,01103,42.104106,-72.592027,SPRINGFIELD,MA
1,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,1495,799,131200,87,25,01104,42.134009,-72.565378,SPRINGFIELD,MA
2,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,827,710,130700,32,0,01105,42.099958,-72.580765,SPRINGFIELD,MA
3,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,971,652,154000,65,13,01107,42.121060,-72.607068,SPRINGFIELD,MA
4,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,1532,890,148200,134,62,01108,42.080692,-72.560791,SPRINGFIELD,MA